            @font-face {
                src: url('../fonts/OpenSans-Regular.ttf');
                font-family: "OpenSans Regular";
            }
            @font-face {
                src: url('../fonts/OpenSans-Bold.ttf');
                font-family: "OpenSans Bold";
            }
            @media screen and (orientation: portrait) {
                
            }
            html, body {
                padding: 0;
                margin: 0;
                color: #060606;
                font-size: 17px;
                font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;
                background-image: url('../img/background.jpg');
            }
            header {
                height: 100px;
            }
            .fixed-container {
                max-width: 1200px;
                margin: 0 auto;
                height: 100%;
            }
            header > div {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            a {
                margin-right: 30px;
                color: black;
                text-decoration: none;
            } 
            a:hover {
                text-decoration: underline;
                transition: margin-right 2s;
            }
            button {
                font-size: 15px;
                font-family: "OpenSans Regular", Arial, Helvetica, sans-serif;
                padding: 15px 30px;
                border-radius: 10px;
                cursor: pointer;
                border: 1px solid gray;
            }

            .first-block > div {
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
            h1 {
                font-family: "OpenSans Bold", Arial, Helvetica, sans-serif;
                font-size: 50px;
                margin: 0 0 20px 0;
            }
            img {
                border: 1px solid #060606;
            }
            h2 {
                font-size: 25px;
            }
            p, li {
                font-size: 15px;
            }
            .subtitle {
                margin: 0 0 30px 0
            }
            .info {
                height: 200px;
                display: flex;
                justify-content: space-between;
            }
            .info > div {
                font-size: 14px;
                height: 150px;
                width: 210px;
            }
            .story {
                height: 200px;
                display: flex;
                justify-content: left;
            }